.header__lang-link {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    line-height: 1.1;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
    }
}

.header__lang-link:hover {
    opacity: 0.9;
    transition: 0.4s;
}