.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    width: 1184px;
    align-items: center;
    margin: 0 auto;
    padding: 0;
   
}

@media screen and (max-width: 984px) {
    .footer {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 88px;
    }   
}

@media screen and (max-width: 568px) {
    .footer {
       padding-left: 16px;
       padding-right: 16px;
       padding-top: 64px;
       flex-direction: column;
       row-gap: 48px;
    }   
}
